* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.border-own {
    border: 1px solid black;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a {
    color: black;
    text-decoration: none;
}

.h2-title {
    font-size: 5rem;
}
.h2-title span{
 color: orange;
}

.border-own:hover {
    border: 1px dashed black;
    border-radius: var(--border-radius-hover);
    -webkit-border-radius: var(--border-radius-hover);
    -moz-border-radius: var(--border-radius-hover);
    -ms-border-radius: var(--border-radius-hover);
    -o-border-radius: var(--border-radius-hover);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../Font/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../Font/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto Light";
    src: url(../Font/Roboto-Light.ttf) format('truetype');
}

body {
    font-family: 'Roboto Medium';
    height: 500rem;
}


.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
}



/* //////////////////////////////////////////////////////////////////header/// */

.nav-own {
    top: 2rem;
    width: 95%;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}


/* ////////////////////////////////////////////////////////////////////main/// */


/* //////////////////////////////////////////////////////////////////////section home */

section.home {
    background: url(../img/home-bg.jpg);
    background-position: bottom;
    padding: 3rem;
    padding-top: 10rem;

}

.header-title {
    font-size: 5rem;
    max-width: 50%;
    text-transform: uppercase;
}


section.home .row img {
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-3rem);
        -webkit-transform: translateY(-3rem);
        -moz-transform: translateY(-3rem);
        -ms-transform: translateY(-3rem);
        -o-transform: translateY(-3rem);
    }
}

.header-box_img {
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
}

.header-box_img img:hover {
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    cursor: pointer;
}

/* //////////////////////////////////////////////////////////////section About-Us // */

.about-us .row  img {
    animation:aboutImage 4s linear infinite;
}
@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}
.w_31 {
    width: 31%;
}

/* /////////////////////////////////////////////////////////////////section Our Menu     */

.our-menu {
    background: url(../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


.menu-boxes {
    position: relative;
}
.menu-boxes::before {
    content: '';
    width: 60px;
    height: 60px;
    background: url(../img/menu-1.png);
    background-size: cover;
    position: absolute;
    top: 118px;
    left: -30px;
}

/* /////////////////////////////////////////////////////////////section Review  */

.carousel-indicators {
    position: absolute;
    bottom: -67px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-125%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.carousel-indicators [data-bs-target] {
    background-color: #e95151; 
    width: 10px; 
    height: 10px;
    margin: 5px; 
    cursor: pointer;
  }
  .carousel-indicators .active {
    background-color: #616662; 
  }

  .box-icon_left {
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 5rem;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
  .box-icon_right {
    position: absolute;
    bottom: 60px;
    right: 50px;
    font-size: 5rem;
    transition: all .5s ease-in-out;
  }

  .card-body:hover .box-icon_left{
            top: 0px;
  }
  .card-body:hover .box-icon_right{
    bottom:0px ;
}






@media screen and (max-width : 992px) {
    .header-title {
        font-size: 3rem;
    }
    
}
@media screen and (max-width : 768px) {
    .header-box_img {
        width: 60% !important;
    }
    .box-Container {
        flex-direction: column;
    }
    .box{
        width: 80% !important;
    }
    .box-icon_left {
        font-size: 3rem;
    }
    .box-icon_right{
        font-size: 3rem;
    }
}
@media screen and (max-width : 576px) {
    .header-box_img {
        width: 80% !important;
    }
    .box-icon_left {
        font-size: 1.5rem;
        left: 20px;
    }
    .box-icon_right{
        font-size: 1.5rem;
        right: 20px;
    }
}